﻿@model IEnumerable<ServisUygulama.Models.Driver>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Admin"))
{
    <p style="padding-top:20px;">
        @Html.ActionLink("Şöför Ekle", "Create", null, new { @class = "btn btn-primary", @style = "color:white;" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.DriverID }, htmlAttributes: new { @class = "btn btn-success", @style = "margin-right:5px;" })
                    @Html.ActionLink("Sil", "Delete", new { id = item.DriverID }, htmlAttributes: new { @class = "btn btn-danger" })
                }
                @Html.ActionLink("Detaylar", "Details", new { id = item.DriverID }, htmlAttributes: new { @class = "btn btn-warning" })
            </td>
        </tr>
    }

</table>
