﻿
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink(ServisUygulama.Resources.HomeTexts.ApplicationName, "Index", "Home",null, htmlAttributes: new { @class = "navbar-brand" })
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
        
       
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="~/Manage/Index"><i class="fa fa-user fa-fw"></i>@ServisUygulama.Resources.HomeTexts.Userprofil</a>
                </li>
               
                <li class="divider"></li>
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                    @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-fw"></i>Oturumu kapat</a>
                    }
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-globe fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Turkish, "Change", "Home", new { LanguageAbbrevation = "tr", returnUrl = Request.RawUrl }, null)
                </li>

                <li>
                    @Html.ActionLink(ServisUygulama.Resources.HomeTexts.English, "Change", "Home", new { LanguageAbbrevation = "en", returnUrl = Request.RawUrl }, null)</a>
                </li>
                <li class="divider"></li>

            </ul>

            <!-- /.dropdown-user -->
        </li>
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                
                <li>
                    @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Home, "Index", "Home")
                </li>
                
                
                
                
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> @ServisUygulama.Resources.HomeTexts.Services <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        @if (User.IsInRole("Admin"))
                        { 
                        <li>
                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.AddService, "Create", "SchoolBus")
                        </li>
                        }
                        <li>
                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Lists, "Index", "SchoolBus")
                        </li>
                        <li>
                            <a href="#">@ServisUygulama.Resources.HomeTexts.Brands <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                @if (User.IsInRole("Admin"))
                                {
                                <li>
                                    @Html.ActionLink(ServisUygulama.Resources.HomeTexts.AddBrand, "Create", "Brands")
                                </li>
                                }
                                <li>
                                    @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Lists, "Index", "Brands")
                                </li>
                                
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">@ServisUygulama.Resources.HomeTexts.Drivers<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                               @if (User.IsInRole("Admin"))
                               {
                                   <li>
                                    @Html.ActionLink(ServisUygulama.Resources.HomeTexts.AddDriver, "Create", "Drivers")
                                </li>
                               }
                                <li>
                                    @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Lists, "Index", "Drivers")
                                </li>
                                
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-users"></i>@ServisUygulama.Resources.HomeTexts.Roller<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                       @if (User.IsInRole("Admin"))
                       {
                        <li>
                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.CreateRole, "Create", "Role")
                        </li>
                       }
                        <li>
                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Lists, "Index", "Role")
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-graduation-cap"></i>@ServisUygulama.Resources.HomeTexts.Schools<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        @if (User.IsInRole("Admin"))
                        {
                        <li>
                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.CreateSchool, "Create", "Universities")
                        </li>
                        }
                        <li>
                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Lists, "Index", "Universities")
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
@if (User.IsInRole("Admin"))
{
                <li>
                    <a href="#"><i class="fa fa-list-ul"></i>@ServisUygulama.Resources.HomeTexts.Students<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Lists, "OgrenciList", "Home")
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
}

                <li>
                    <a href="#"><i class="fa fa-bullhorn"></i> @ServisUygulama.Resources.HomeTexts.Announcements<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Lists, "Index", "Announcements")
                        </li>
                         @if (User.IsInRole("Admin"))
                         {
                        <li>
                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.AddAnnouncement, "Create", "Announcements")
                        </li>
                         }
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
