﻿@model ServisUygulama.Models.Announcement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Announcement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Başlık
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            İçerik
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            Yazar
        </dt>

        <dd>
           @Html.DisplayFor(model => model.Users.Email)
        </dd>
        <dt>
            Tarih
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddTime)
        </dd>

    </dl>
</div>
<p>
@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnnouncementID })
                                                                        }
    @Html.ActionLink("Back to List", "Index")
</p>
