﻿@model IEnumerable<ServisUygulama.Models.Announcement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper DuyuruKisalt(string icerik)
{
if (icerik.Length > 150)
{
        @icerik.Substring(0, 150)
}
else
{
        @icerik
}

}

@if (User.IsInRole("Admin"))
{
<p style="padding-top:20px;">
   @Html.ActionLink("Duyuru Ekle", "Create",null,new { @class= "btn btn-primary", @style = "color:white;" })
</p>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Duyurular
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="col-md-2">Başlık</th class="col-md-4">
                                <th class="col-md-4">İçerik</th>
                                <th class="col-md-2">Yazar</th>
                                <th class="col-md-1">Tarih</th>
                                <th class="col-md-3">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>@{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                    <td>@DuyuruKisalt(item.Content)...</td>
                                    <td>@Html.DisplayFor(modelItem => item.Users.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AddTime)</td>
                                    <td>
                                        @if (User.IsInRole("Admin"))
                                        {
                                    @Html.ActionLink("Edit", "Edit", new { id = item.AnnouncementID }, htmlAttributes: new { @class = "btn btn-success", @style = "margin-right:5px;" })
                                    @Html.ActionLink("Delete", "Delete", new {id = item.AnnouncementID }, htmlAttributes: new { @class = "btn btn-danger" }) 
                                        }
                                    @Html.ActionLink("Details", "Details", new { id = item.AnnouncementID }, htmlAttributes: new { @class = "btn btn-warning" })
                                    
                                    </td>
                                  
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <!-- /.col-lg-6 -->
</div>