﻿@using ServisUygulama.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Oturum aç";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @ServisUygulama.Resources.HomeTexts.PleaseSignIn
                        <text style="font-size:12px; float:right;">
                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Turkish, "Change", "Home", new { LanguageAbbrevation = "tr", returnUrl = Request.RawUrl }, null) |
                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.English, "Change", "Home", new { LanguageAbbrevation = "en", returnUrl = Request.RawUrl }, null)
                            
                        </text>
                    </h3>
                    
                </div>
                <div class="panel-body">
                    
                        <section id="loginForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                                @Html.AntiForgeryToken()
                                <fieldset>
                                   
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autofocus = "autofocus", placeholder= @ServisUygulama.Resources.HomeTexts.UserName })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @ServisUygulama.Resources.HomeTexts.Password })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="checkbox"><label>
                                       @Html.CheckBoxFor(m => m.RememberMe)
                                       @ServisUygulama.Resources.HomeTexts.Rememberme</label>
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <input type="submit" value=@ServisUygulama.Resources.HomeTexts.Login class="btn btn-lg btn-success btn-block" /><br />
                                    @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Signupnewuser, "Register")
                                </fieldset>
                            }
                        </section>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}