﻿@model ServisUygulama.Models.RegisterViewModel
@{
    Layout = null;
    ViewBag.Title = "Oturum aç";
}
@using ServisUygulama.Models
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @ServisUygulama.Resources.HomeTexts.Register

                        <text style="font-size:12px; float:right;">
                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Turkish, "Change", "Home", new { LanguageAbbrevation = "tr", returnUrl = Request.RawUrl }, null) |
                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.English, "Change", "Home", new { LanguageAbbrevation = "en", returnUrl = Request.RawUrl }, null)

                        </text>
                    
                    
                    </h3>
                </div>
                <div class="panel-body">
                    
                    <section id="loginForm">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "autofocus", placeholder = @ServisUygulama.Resources.HomeTexts.EMailAddress })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = @ServisUygulama.Resources.HomeTexts.UserName})
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @ServisUygulama.Resources.HomeTexts.Password })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @ServisUygulama.Resources.HomeTexts.Confirmpassword })
                                </div>
                                <div class="form-group">
                                        @Html.DropDownListFor(m => m.RoleName,new SelectList(ViewBag.Roles,"Value","Text"),new {@class="form-control" })
                                    </div>

                                <div class="form-group">
                                   @Html.DropDownListFor(m => m.UniversityID, new SelectList(ViewBag.Universities, "Value", "Text"), new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.CityID, new SelectList(ViewBag.City, "Value", "Text"), new { @class = "form-control" })
                                </div>


                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = @ServisUygulama.Resources.HomeTexts.Name })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = @ServisUygulama.Resources.HomeTexts.Surname })
                                </div>
                                
                               

                                
                                

                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" value=  @ServisUygulama.Resources.HomeTexts.Register class="btn btn-lg btn-success btn-block" /><br />
                                @Html.ActionLink(@ServisUygulama.Resources.HomeTexts.Login, "Login")
                            </fieldset>
                        }
                    </section>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}