﻿

@{
    ViewBag.Title = "Anasayfa";
}
@using Microsoft.AspNet.Identity

@model IEnumerable<ServisUygulama.Models.Announcement>

@helper DuyuruKisalt(string icerik)
{
if (icerik.Length > 200)
{
        @icerik.Substring(0, 200)
}
else
{
        @icerik
}

}


<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@Html.ActionLink(ServisUygulama.Resources.HomeTexts.Welcome+" "+ User.Identity.GetUserName() + " ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style = "color:black;" })</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">

    
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.Okllist</div>
                        <div>@ServisUygulama.Resources.HomeTexts.School</div>
                    </div>
                </div>
            </div>
            <a href="/Universities/Index/Listele">
                <div class="panel-footer">
                    <span class="pull-left">@ServisUygulama.Resources.HomeTexts.GotoSchoolDetails</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.Servislist</div>
                        <div>@ServisUygulama.Resources.HomeTexts.Service</div>
                    </div>
                </div>
            </div>
            <a href="/SchoolBus/Index/Listele">
                <div class="panel-footer">
                    <span class="pull-left">@ServisUygulama.Resources.HomeTexts.GotoServiceDetails</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.Rolelist</div>
                        <div>@ServisUygulama.Resources.HomeTexts.Role</div>
                    </div>
                </div>
            </div>
            <a href="/Role/Index/Listele">
                <div class="panel-footer">
                    <span class="pull-left">@ServisUygulama.Resources.HomeTexts.GotoRoleControlPage</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/Announcements/Index/Listele">@ServisUygulama.Resources.HomeTexts.Announcements</a>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@ServisUygulama.Resources.HomeTexts.Title</th>
                                <th>@ServisUygulama.Resources.HomeTexts.Content</th>
                                <th>@ServisUygulama.Resources.HomeTexts.Author</th>
                                <th>@ServisUygulama.Resources.HomeTexts.Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (ServisUygulama.Models.Announcement item in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td style="width:15%">@Html.DisplayFor(modelItem => item.Title)</td>
                                    <td>@DuyuruKisalt(item.Content)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Users.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AddTime)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <!-- /.col-lg-6 -->
</div>

<!-- /.row -->
<!-- /.row -->
