﻿
@{
    ViewBag.Title = "Öğrenciler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNet.Identity;
@using ServisUygulama.Models;


<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">@Html.ActionLink("Hoşgeldin" + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</h4>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    @model ServisUygulama.Models.GroupedUserViewModel





    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Öğrenciler
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Adı</th>
                                    <th>Soyadı</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>E Posta Adresi</th>
                                    <th>Üniversite</th>
                                    <th>Rol</th>
                                    <th>İşlem</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 0;}
                                @foreach (var user in Model.Users)
                                {
                                    i++;

                                    <tr>
                                        <td>@i</td>
                                        <td>@user.FirstName</td>
                                        <td>@user.LastName</td>
                                        <td>@user.Username</td>
                                        <td>@user.Email</td>
                                        <td>@user.UniversityName</td>
                                        <td>@user.RoleName</td>
                                        <td>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                @Html.ActionLink("Düzenle", "Edit", new { id = user.UserID }, htmlAttributes: new { @class = "btn btn-success", @style = "margin-right:5px;" })
                                                @Html.ActionLink("Sil", "Delete", new { id = user.UserID }, htmlAttributes: new { @class = "btn btn-danger" })
                                            }
                                            @Html.ActionLink("Detaylar", "Details", new { id = user.UserID }, htmlAttributes: new { @class = "btn btn-warning" })
                                        </td>
                                    </tr>

                                }




                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <!-- /.col-lg-6 -->
    </div>



</div>
<!-- /.row -->
<!-- /.row -->
