﻿@model IEnumerable<ServisUygulama.Models.Brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Admin"))
{
    <p style="padding-top:20px;">
        @Html.ActionLink("Marka Ekle", "Create", null, new { @class = "btn btn-primary", @style = "color:white;" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
    {
            @Html.ActionLink("Düzenle", "Edit", new { id = item.BrandID }, htmlAttributes: new { @class = "btn btn-success", @style = "margin-right:5px;" })
            @Html.ActionLink("Sil", "Delete", new { id = item.BrandID }, htmlAttributes: new { @class = "btn btn-danger" })
}
                @Html.ActionLink("Detaylar", "Details", new { id = item.BrandID }, htmlAttributes: new { @class = "btn btn-warning" })
            </td>
        </tr>
    }

</table>
