﻿@model IEnumerable<ServisUygulama.Models.SchoolBus>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.IsInRole("Admin"))
{
    <p style="padding-top:20px;">
        @Html.ActionLink("Service Ekle", "Create", null, new { @class = "btn btn-primary", @style = "color:white;" })
    </p>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ServisUygulama.Resources.HomeTexts.Services
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @ServisUygulama.Resources.HomeTexts.Brand
                                </th>
                                <th>
                                    @ServisUygulama.Resources.HomeTexts.Driver
                                </th>
                                <th>
                                    @ServisUygulama.Resources.HomeTexts.Plate
                                </th>
                                <th>
                                    @ServisUygulama.Resources.HomeTexts.Model
                                </th>
                                <th>
                                    @ServisUygulama.Resources.HomeTexts.Numberofseats
                                </th>
                                <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Brand.BrandName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Driver.DriverName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Plate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Model)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KoltukSayısı)
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Edit, "Edit", new { id = item.BusID }, htmlAttributes: new { @class = "btn btn-success", @style = "margin-right:5px;" })
                                            @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Delete, "Delete", new { id = item.BusID }, htmlAttributes: new { @class = "btn btn-danger" })
                                        }
                                        @Html.ActionLink(ServisUygulama.Resources.HomeTexts.Details, "Details", new { id = item.BusID }, htmlAttributes: new { @class = "btn btn-warning" })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->

